{
    "package": {
        "name": "Test-Package",
        "repo": "maven",
        "subject": "jenzz",
        "website_url": "https://github.com/jenzz/Test-Repo",
        "issue_tracker_url": "https://github.com/jenzz/Test-Repo/issues",
        "vcs_url": "https://github.com/jenzz/Test-Repo.git",
        "licenses": ["MIT"]
    },

    "version": {
        "name": "1.0.0"
    },

    "files": [ {"includePattern": "*", "uploadPattern": "*"} ],
    "publish": false
}