"version": {
    "name": "1.0.0",
    "repo": "Test-Package",
    "subject": "jenzz",
    "desc": "This is a test version",
    "website_url": "https://github.com/jenzz/Test-Repo",
    "issue_tracker_url": "https://github.com/jenzz/Test-Repo/issues",
    "vcs_url": "https://github.com/jenzz/Test-Repo.git",
    "licenses": ["MIT"],
    "gpgSign": true
}